<body>

<header>
<h1>Boy Scouts</h1>
</header>
<nav>
Index<br>
<a href="/">HOME</a><br>
<a href="/admin">ADMIN</a><br>
<a href="/routes/showRunSheets">GENERATE RUN SHEETS</a>

</nav>

<section>
<h1>About Developers</h1>
<hr class="headingLine">
<p>
<b>Nilesh Kumar Javar</b><br>
Texas A&amp;M University, College Station<br>
Master of Science in Computer Science, Class of 2015<br>
Email : nileshjavar@gmail.com
</p>
<p>
<b>Thekkar Nishanth Prabhu</b><br>
Texas A&amp;M University,College Station<br>
Master's in Computer Engineering, Class of 2014<br>
Email : nishanth.prabhu791@gmail.com<br>
</p>
<p>
<b>Venkata Siva Varun Nandi Mandalam</b><br>
Texas A&amp;M University,College Station<br>
Master's in Computer Engineering, Class of 2015<br>
Email : varunnvs92@gmail.com<br>
</p>
<p>
<b>Abhishek Roy N</b><br>
Texas A&amp;M University,College Station<br>
Master of Science in Computer Science, Class of 2015<br>
Email : abhishekroyn@gmail.com<br>
</p>
<p>
<b>Aravindan Ponnu</b><br>
Texas A&amp;M University,College Station<br>
Master's in Computer Science, Class of 2015<br>
Email : aravindanponnu@gmail.com<br>
</p>
<p>
<b>Venkata Rakesh Mekala</b><br>
Texas A&amp;M University,College Station<br>
Master's in Computer Engineering, Class of 2014<br>
Email : mvrakesh1@tamu.edu@gmail.com<br>
</p>

</section>

<footer>
Copyright © version 0.8<br>
<a href="/welcome/credits">Developed By</a>
</footer>

</body>

