<h1>Subscriptions#generate_invoice_as_pdf</h1>
<p>Find me in app/views/subscriptions/generate_invoice_as_pdf.html.erb</p

<%= subscription.subscription_id %>
<%= subscription.number %>
<%= subscription.service_notes %>
